/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Variables */
:root {
    /* Colors */

    /* Primary */
    --Gradient: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    ;

    /* Neutral */
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);

    /* Fonts */
    --font-family: "Raleway", sans-serif;
    --font-wght-400: 400;
    --font-wght-700: 700;
    --Font-size: 14px;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Very-Dark-Blue);
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 50vh;
    background-position: bottom;
    font-family: var(--font-family);
}

/* Main Container */
.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

/* First Section */
.first-section {
    border-top-left-radius: 10px;
    border-top-right-radius: 85px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--Dark-Blue);
    max-width: 350px;
    margin-right: 30px;
    padding: 40px;
}

.logo {
    margin-bottom: 40px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-right: 100px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--Very-Dark-Blue);
    padding: 14px;
    border-radius: 10px;
}

.button img {
    max-width: 100%;
    max-height: 100%;
}

/* Second Section */
.second-section {
    position: relative;
}

.storage {
    max-width: 550px;
    background-color: var(--Dark-Blue);
    border-radius: 10px;
    padding: 35px;
}

.storage p {
    font-size: 15px;
    color: var(--Grayish-Blue);
    font-weight: var(--font-wght-400);
    margin-bottom: 20px;
}

.storage span {
    color: var(--Pale-Blue);
    font-weight: var(--font-wght-700);
}

.bar {
    width: 450px;
    height: 15px;
    border-radius: 15px;
    background-color: var(--Very-Dark-Blue);
    margin-bottom: 10px;
}

.active-bar {
    width: 74.8%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 20px;
    background-image: var(--Gradient)
}

.dot {
    width: 10px;
    height: 10px;
    margin-right: 2px;
    margin-bottom: 0.8px;
    border-radius: 50%;
    background-color: white;
}

.min-max {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.min-max p {
    font-size: 13px;
    color: var(--Pale-Blue);
    font-weight: var(--font-wght-400);
}

.info-part {
    position: absolute;
    top: -50px;
    right: 30px;
    width: 179px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 10px 0 10px;
    background-color: white;
}

.triangle {
    position: absolute;
    top: 57.5px;
    right: -12px;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid white;
    transform: rotate(-90deg);
}

.info-part h1 {
    font-size: 35px;
    font-weight: var(--font-wght-700);
}

.info-part h2 {
    margin-top: 5px;
    margin-left: 5px;
    color: var(--Grayish-Blue);
    font-size: 12px;
    font-weight: var(--font-wght-700);
    text-transform: uppercase;
}

/* Responsive */
@media(max-width: 950px) {
    body {
        background-image: url('../images/bg-mobile.png');
        background-repeat: no-repeat;
        background-size: 100% 100vh;
        background-position: cover;

    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .first-section {
        max-width: 320px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .storage {
        max-width: 350px;
        background-color: var(--Dark-Blue);
        border-radius: 10px;
        padding: 35px;
    }

    .storage span {
        color: var(--Pale-Blue);
        font-weight: var(--font-wght-700);
    }

    .bar {
        width: 250px;
        height: 15px;
        border-radius: 15px;
        background-color: var(--Very-Dark-Blue);
        margin-bottom: 10px;
    }

    .info-part {
        left: 60px;
        top: 120px;
        border-radius: 10px 10px 10px 10px;
    }

    .triangle {
        display: none;
    }
}
